body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #2c3e50;
}

ul#publications-list {
    list-style: none;
    padding: 0;
}

ul#publications-list li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
   
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.publication-image img {
    max-width: 100px;
    height: auto;
    float: left;
    margin-right: 15px;
    border-radius: 5px;
}   
.publication-title {
    font-weight: bold;
    font-size: 1.1em;
}

.publication-authors, .publication-journal {
    font-size: 0.95em;
    color: #555;
}
